<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="\Magento\Theme\Block\Html\Title">
        <plugin name="Name_Plugin" type="Perspective\FirstTask\Plugin\NamePlugin" sortOrder="1" />
    </type>
</config>

